/* Estilo para el contenedor del DatePicker */
.custom-datepicker {
    position: relative;
  }
  
  /* Estilo para el input del DatePicker */
  .custom-datepicker input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    background-color: #f9f9f9;
    font-size: 14px;
    outline: none;
  }
  
  /* Estilo para el ícono (si lo tienes) */
  .custom-datepicker .react-datepicker__input-container {
    position: relative;
  }
  
  /* Estilo para el calendario emergente */
  .custom-datepicker .react-datepicker-popper {
    z-index: 1000;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilo para los días del calendario */
  .custom-datepicker .react-datepicker__day {
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
  }
  
  /* Estilo para los días seleccionados */
  .custom-datepicker .react-datepicker__day--selected {
    background-color: #0074d9;
    color: #fff;
  }
  .react-datepicker__day--outside-month {
    opacity: 0.5; /* Ajusta la opacidad según tus preferencias */
  }